# Use a Neon PostgreSQL connection string.
DATABASE_URL=

# Set this to a random 32-byte value encoded with base64.
ENCRYPTION_KEY=

# Set this to a random string with at least 32 characters.
SESSION_SECRET=
